/* Cascading Style Sheet for Application Depot */
/*  ------------------------------------------ */
/* Star Trek THEME                            */ 

* { margin: 0; padding: 0; }

body { 
font-family: "trebuchet MS",sans-serif;
color: #D50005;
font-size: 1em;
letter-spacing: 0pt;
margin-left:0%;
margin-right:0%;
background-image:url(images/background.gif);
}


ul { list-style: none inside; }
p { font: 1.3em/1.3em; margin-bottom: 1.3em; }
a { outline: none; }f
a img { border: none; }
a:link {color:#5555FF} /* unvisited link */
a:visited {color:#5555AA} /* visited link */
a:hover {color:#CCC; border-bottom:1px dotted;text-decoration:none;} /* mouse over link */
a:active {color:#0000FF} /* selected link */
img { border: none; vertical-align: bottom; }
h2 { color: #882345; font: bold 1em Arial, Sans-Serif; margin: 0 0 12px; border-bottom:1px solid #AA6789; }
h1 { color: #882345; font: bold 1.5em Arial, Sans-Serif; margin: 0 0 12px; border-bottom:1px solid #AA6789; }
table {
border-spacing: 0;
border-collapse: collapse;
}
 
td {
text-align: left;
vertical-align: top;
font-weight: normal;
padding:1px 3px 0 3px;
}

.infobox {
padding:0 8px 8px 8px;
}

.listheader {
background-color:#D50005;
color:#FFF;
font-size:1.1em;
font-weight:bold;
padding:0 0 0 3px;
}

.listtable {
font-size:.9em;
border:1px solid;
border-color:#D50005;
background-color:#FFF;
}

.listtableheader {
font-weight:bold;
border-bottom:1px solid;
}

.shaderow {
background-color:#EEE;	
}

.smalltable {
font-size:.8em;
border:1px solid;
border-color:#D50005;
background-color:#FFF;
}

.smalltableheader {
font-weight:bold;
border-bottom:1px solid;	
}

.logincontainer {
width:400px;
height:300px;
background-image:url(images/loginbkg.png);
text-align:center;
color:#FFF;
position:absolute;
top:50%;
right:50%;
margin-right:-200px;
margin-top:-200px;
}

.loginform {
padding:20px 0 0 0;
clear:both;
}

.loginlogo {
padding:20px 0 0 0;	
}

.logininfo {
width:300px;
height:60px;
background-color:#EEE;
border: ridge #FFF;
text-align:center;
padding:4px 2px 0 2px;
}

.dashboardbody {
/*   background: #FFF url(images/logolarge.png) no-repeat fixed center;    */
width:100%;
height:800px;
}

.dashboardoverlay {
/*   background-image:url('images/trans.png');   */
height:800px;
width:100%;
}

.adminmessage {
/*    background-image:url('images/trans.png');    */
padding:100px 0 0 0 ;
}

.imglogo {
/*    background-image:url('images/trans.png');    */
padding:5px;
}

.logocontainer {
float:left;
height:80px;
}

.welcometext {
color:#FFF;
font-size:.8em;
padding:0px 5px 5px 5px;
height:80px;
overflow-y:auto;
}

.slider {
  position:relative;
  background-color:#D50005;
  border-bottom: none;
  padding: 0px 0 0 0px;
  background-image:url(images/sliderbkg.png);
  z-index:5;
}

.tree {
  padding:10px;
  overflow-y:auto;
  overflow-x:hidden;	
}

.menucontainer {
  padding:5px 0 0 0;
  clear:both;
  z-index:5;
}

.slidercontrol {
  background-image:url(images/slidecontrolbkg.png);	
  color:#FFF;
  height:35px;
  padding:0 5px 0 5px;
  z-index:2;
  position:relative;
  font-size:.8em;
  }



.controlcenter {
text-align:center;
font-weight:bold;
width:33%;
}

.controlleft {
}

.applicationwindow {
position:relative;
top:-45px;
z-index:0;
}

.dropheader {
background-color:#D50005;
color:#AAF;
font-size:1.1em;
text-decoration:underline;
padding:0 0 0 3px;
cursor: pointer;
cursor: hand;
}


.dropheader:hover {
background-color:#D50005;
color:#FFF;
text-decoration:none;
}

.dropslider {
overflow:hidden;
background-color:#EEE;
border:1px solid #882345;
padding:5px;
}

.tab {
background-image:url(images/tabbkg.gif);
position:relative;
float:right;
height:75px;
width:150px;
right: 10px;
top:0px;
z-index: 1;
color:#FFF;
cursor: pointer;
cursor: hand;
}

.tabtext {
padding:30px 0 0 0px;	
}

.error {
  color:#FF0000;
  font-size:.8em;
  font-weight:bold;
  background:#ddd;
  padding:3px 3px 3px 17px;
  background-image:url(images/cancel.png);
  background-repeat: no-repeat;
  background-position:center left;
  border:1px #EAAB0D dotted;
}

.success {
  font-style:italic;
  color:#00AA00;
  padding:0 0 0 17px;	
  background-image:url(images/accept.png);
  background-repeat: no-repeat;
  background-position:center left;
}

.refresh {
  padding:0 0 0 17px;
  background-image:url(images/arrow_refresh.png);
  background-repeat: no-repeat;
  background-position:center left;	
}

.noticecontainer {   /* Log errors that show up on the bottom of the page for admins */
 position:absolute;
 bottom:25px;
 width:100%;
 text-align:center;
 z-index:5;
 overflow:hidden;
}

.noticebox {
 background-image:url(images/errorlogbkg.png);
 color:#FFF;
 font-size:.7em;	
 width:80%;
 border:1px #EAAB0D dotted;
}

.smalltext {
  font-size:.8em;
}

.footer {
  position:absolute;
  background:#000000;
  bottom:0px;
  width:100%;
  height:40px;
  text-align:center;
  font-size:.8em;
}

.tip {
padding:0 0 0 3px;
cursor: pointer;
cursor: hand;
color: #882345;
}

.tip:hover {
color:#888; 
}

.dynamicli {
background:#FDD url(images/delete.png) no-repeat center right;
color:#882345;
cursor: pointer;
cursor: hand;
border:1px #EAAB0D dotted;
padding-right:25px;
}

/**********************
/* Javascript Tree CSS
/**********************/
#treeContainer{
	margin: 0px;
	padding: 0px;
}

#treeContainer img{
	vertical-align: middle;
	border: 0px;
}

#treeContainer img.action{
	cursor: pointer;
}

#treeContainer a{
	text-decoration: none
}

#treeContainer table.menu{
	background-color: #ffffff;
	border: 1px solid #999999;
}

#treeContainer a:link{
	color: Navy;
}

#treeContainer a:visited{
	color: #616161;
}

#treeContainer a:hover{
	color: #993300;
	border-bottom:none;
}

#treeContainer a.tree{
	margin-left: 6px;
}

#treeContainer td {
	white-space:nowrap;	
	font-size: .9em;
}